In [2]:
import requests
import pandas as pd
import os
import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns
sns.set_context('poster')
sns.set(rc={'figure.figsize': (16., 9.)})
sns.set_style('whitegrid')

import plotly.express as px
import plotly.graph_objects as go

In [3]:
API = "https://agridata.ec.europa.eu/extensions/DataPortal/API_Documentation.html"

In [4]:
foods = ["beef","pigmeat","sheepAndGoat","rawMilk","dairy","fruitAndVegetable","cereal","rice","oilseeds","sugar","oliveOil","wine"]

In [4]:
data={}
date = []
price = []
prod = []
var = []
veg = []
for food in foods:
    url = f"https://www.ec.europa.eu/agrifood/api/{food}/prices?memberStateCodes=ES&beginDate=01/01/2001"
    resp = requests.get(url).json()

    for i in resp:
        try:
            date.append(i['beginDate'])
        except: #Rice doesn't have beginDate but has ym which means year month
            date.append(i['ym'])
        price.append(float(i['price'][1:].replace(",",".")))
        try:
            var.append(i['productName'])
        except:
            var.append("unknown")
        try:
            veg.append(i['product'])
        except:
            veg.append('unknown')
        prod.append(food)
    data['product'] = prod
    data['date'] = date
    data['price'] = price
    data['variety'] = var
    data['veg'] = veg

In [5]:
data = pd.DataFrame(data)
data.date = pd.to_datetime(data.date)
data.index = data.date
data = data.sort_index()

In [1]:
if not os.path.exists("../mydata"):
    os.makedirs("../mydata")
    now = str(datetime.now())[:19].replace(":","_")
resp.to_csv(f"../mydata/api_raw_{now}.csv")

NameError: name 'os' is not defined

In [8]:
o = []
for i, row in data.iterrows():
    if row['variety'] != 'unknown':
        o.append(row['variety'].replace(" ","_").lower())
        
    elif row['veg'] != 'unknown':
        o.append(row['veg'].replace(" ","_").lower())

    else:
        o.append(row['product'].replace(" ","_").lower())
data ['product'] = o

In [9]:
price = []
for i, row in data.iterrows():
    if row['price'] != 0.00 or row['price'] != 0.0:
        price.append(row['price'])
    else:
        price.append(np.nan)
data['price'] = price
data.dropna(how='any',inplace=True)

In [10]:
names = {'abricots':'albaricoque',
 'apples':'manzana',
 'asparagus':'espárrago',
 'beans':'judías',
 'beef':'ternera',
 'butter':'mantequilla',
 'cabbages':'col',
 'carrots':'zanahoria',
 'cauliflowers':'coliflor',
 'cherries':'cereza',
 'clementines':'clementina',
 'courgettes':'calabacín',
 'crude_olive-pomace_oil_(from_5_to_10%)':'aceite de orujo de oliva crudo de 5 a 10%',
 'crude_soya_bean_oil':'salsa de soja',
 'crude_sunflower_oil':'aceite de girasol',
 'cucumbers': 'pepino',
 'durum_wheat':'harina de trigo candeal',
 'edam':'queso edam',
 'egg_plants,_aubergines':'berenjena',
 'emmental':'queso emmental',
 'extra_virgin_olive_oil_(up_to_0.8%)':'aceite de oliva virgen extra (hasta 0.8%)',
 'feed_barley':'cebada',
 'garlic':'ajo',
 'lampante_olive_oil_(2%)':'aceite de oliva virgen lampante',
 'leeks':'puerro',
 'lemons':'limón',
 'lettuces':'lechuga',
 'maize':'maíz',
 'malting_barley':'malta',
 'mandarins':'mandarina común',
 'melons':'melón',
 'milling_wheat':'harina de trigo',
 'mushrooms,_cultivated':'champiñón',
 'nectarines':'nectarina',
 'olive-pomace_oil_(up_to_1%)':'aceite de orujo de oliva (hasta 1%)',
 'onions':'cebolla',
 'oranges':'naranja',
 'organic_raw_milk':'leche entera orgánica',
 'peaches':'melocotón',
 'pears':'pera',
 'peppers':'pimiento',
 'pigmeat':'cerdo',
 'plums':'ciruela',
 'rapeseed':'colza',
 'raw_milk':'leche entera',
 'refined_olive-pomace_oil_(up_to_0.3%)':'aceite de orujo de oliva refinado (hasta 3%)',
 'refined_olive_oil_(up_to_0.3%)':'aceite de oliva refinado (hasta 3%)',
 'rice':'arroz',
 'satsumas':'mandarina satsuma',
 'sheepandgoat':'cabra y oveja',
 'smp':'leche semidesnatada en polvo',
 'soya_meal':'harina de soja',
 'strawberries':'fresa',
 'sugar':'azúcar',
 'sunflower_seed':'pipas de girasol',
 'sunflower_seed_meal':'harina de pipas de girasol',
 'table_grapes':'uva',
 'tomatoes':'tomate',
 'virgin_olive_oil_(up_to_2%)':'aceite de oliva virgen (hasta 2%)',
 'water_melons':'sandía',
 'wheypowder':'suero de leche',
 'wine':'vino',
 'wmp':'leche entera en polvo'}

In [11]:
data['product'] = data['product'].map(names)

In [12]:
data.drop(['date','variety','veg'], axis=1, inplace=True)

In [13]:
data.head()

            product   price
date
2001-01-01    arroz  300.44
2001-01-01  ternera  122.90
2001-01-01    cerdo  156.08
2001-01-01    cerdo  156.08
2001-01-01  ternera  277.25

In [14]:
if not os.path.exists("../mydata"):
    os.makedirs("../mydata")
data.to_csv("../mydata/data.csv")